.rowClass {
    border: 10px solid black;
}
body{
    background-color: white;
}

.rowClass{
    color: black;
}

.TFClass{
    color: black;
}

.lblDivClass{
    color: black;
}

.containorDiv {
    height: 10%;
    width: 100%;
    background-color: white;
    color: black;
}
.linkClass{
    color: black;
}
.linkClass :hover{
    color: black;
}
#leftHeaderDiv {
    text-align: center;
    display: inline-block;
    zoom: 1;
    vertical-align: top;
    width:50%;
    font-size: 12px;
    margin: 0 auto;
}

#rightHeaderDiv {
    text-align: center;
    display: inline-block;
    zoom: 1;
    vertical-align: top;
    width: 49%;
    font-size: 12px;
    margin: 0 auto;
}
#testTable{
    width: 100%;
}
