.rowClass {
    border: 10px solid black;
    font-family: Arial;
    color: black;
}
body{
    background-color: white;
    margin: 0%;
    padding: 0%;
}

.bodyContainor{
    margin: 1%;
    padding: 1%;
}

.TFClass{
    color: black;
    font-family: Arial;
}

.lblDivClass{
    color: black;
    font-family: Arial;
}

.containorDiv {
    height: 5%;
    width: 100%;
    margin: 0%;
    padding-top: 1%;
    background-color: black;
    color: white;
}
.linkClass{
    color: white;
    font-family: Arial;
}
.linkClass :hover{
    color:red;
}
#leftHeaderDiv {
    text-align: center;
    display: inline-block;
    width:50%;
    font-size: 12px;
    margin: auto;
    font-family: Arial;
}

#rightHeaderDiv {
    text-align: center;
    display: inline-block;
    width: 49%;
    font-size: 12px;
    margin: auto;
    font-family: Arial;
}
#testTable{
    width: 100%;
}
