<html lang="en">

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../style/test.css">
        <script src="../controller/test.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>

    <body>
        <div id="containorDiv" class="containorDiv">
            <div id="leftHeaderDiv">
                <span>+91 7720055035</span>
                <a href="mailto:info@edu-prism.com" class="linkClass"><span>info@edu-prism.com</span></a>
                <a href="" class="linkClass"><span>Facebook</span></a>
                <a href="" class="linkClass"><span>Twitter</span></a>
                <a href="" class="linkClass"><span>Google</span></a>
                <a href="" class="linkClass"><span>Instagram</span></a>
            </div>
            <div id="rightHeaderDiv">
                <a href="https://login.edu-prism.com/" class="linkClass">Students login</a></li>
            </div>
        </div>
        <div class="bodyContainor">
            <div class="lblDivClass">
                Name :
                <input type="text" id="nameTxt" class="TFClass">
            </div>
            <div class="lblDivClass">
                Male
                <input type="radio" id="maleRb" value="male" name="gender">
            </div class="lblDivClass">
            <div class="lblDivClass">
                Female
                <input type="radio" id="femaleRb" value="female" name="gender">
            </div>
            <table id="testTable">
                <tbody></tbody>
            </table>
            <button id="btn_submit" onclick="submit()">submit</button>
            <button id="btn_submit" onclick="check()">check</button>
        </div>
    </body>
</html>