<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../style/test.css">
    <script src="../controller/test.js"></script>

</head>

<body>
    <div>
        Male
        <input type="radio" id="maleRb" value="male" name="gender">
    </div>
    <div>
        Female
        <input type="radio" id="femaleRb" value="female" name="gender">
    </div>
    <div>
        Name :
        <input type="text" id="nameTxt">
    </div>
    <table id="testTable">
        <tbody></tbody>
    </table>
</body>

</html>